@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$Body-Font: 'Open Sans', sans-serif;
$Heading-Font: 'Poppins', sans-serif;

$Pink: hsl(322, 100%, 66%);
$LightPink: hsl(321, 100%, 78%);
$LightRed: hsl(0, 100%, 63%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$VeryPaleBlue: hsl(207, 100%, 98%);
