@use 'variables';
@use 'mixin';


body{
    font-family: variables.$Body-Font;
    background-color: variables.$White;
    color: variables.$VeryDarkCyan;
}

.main-container{
    width: 375px;
    margin: 0 auto 25px;
    @include mixin.desktop-view(1440px);
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 25px auto 100px;
    @include mixin.desktop-view(1300px);

    &__logo{
        width: 95px;
        height: 16px;
        @include mixin.desktop-view(240px, 38px);
    }

    &__button{
        @include mixin.button(variables.$White, variables.$LightPink, variables.$LightPink, 80px, 24px, false);
        @include mixin.desktop-view(134px, 42px);
        @include mixin.button-hover(variables.$LightPink);
    }
}

.header{
    &__title{
        font-family: variables.$Heading-Font;
        text-align: center;
        width: 275px;
        font-size: 1.48em;
        margin: 0 auto 36px;
        @include mixin.desktop-view(1010px, unset, 2.98em)
    }

    &__description{
        text-align: center;
        margin: 0 auto 49px;
        font-weight: 600;
        font-size: 0.8em;
        width: 290px;
        @include mixin.desktop-view(590px, 80px, 1.25em)
    }

    &__button{
        @include mixin.button(variables.$Pink, unset, variables.$VeryPaleBlue, 200px, 40px, true);
        @include mixin.desktop-view(400px, 80px, 1.25em);
        @include mixin.button-hover(variables.$LightPink);
    }

    &__screen-mockups{
        width: 300px;
        display: block;
        margin: 0 auto 138px;
        @include mixin.desktop-view(1020px, 725px);
    }
}

.section-stats{
    display: flex;
    flex-direction: column;
    align-items: center;

    .communities{
        @include mixin.stats(32px);
    }

    .messages{
        @include mixin.stats(24px){
            width: 69px;
            margin: auto;
        }
    }
}

.section-grow-together{
    @include mixin.flexSections();
}

.section-flowing-conversations{
    @include mixin.flexSections();
}

.section-your-users{
    @include mixin.flexSections();
}
